div.main {
  margin-top: 50px;
  border-radius: 3px;
}

div.project {
  margin-top: 20px;
  background: var(--dark-background);
  padding: 20px;
  border-radius: 3px;
  transition: .3s;
}

div.project:hover {
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

div.project * {
  margin: 10px;
}

div.project a {
  text-decoration: none;
  color: rgba(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
  transition: 0.2s;
}
div.project a.web-page-button {
  background: rgba(0, 0, 0, 0.363);
  border: 2px solid rgba(0, 0, 0, 0);
}
div.project a.web-page-button:hover {
  background: rgba(0, 0, 0, 0.685);
}

div.project a.source-code-button {
  border: 2px solid rgba(0, 0, 0, 0.363);
}
div.project a.source-code-button:hover {
  background: rgba(0, 0, 0, 0.685);
}

@media(max-width: 380px) {
  div.project a {
    padding: 10px;
  }
}
