div.box_info{
    border: 1px solid rgba(200, 255, 0, 0.342);
    max-width: 500px;
    padding: 20px;
    border-radius: 3px;
}

ul {
    margin: 0;
    padding: 10px;
}

ul li.forte {
    olor: #000;
    font-weight: bold;
}
ul li.forte::before {
    color: rgb(200, 255, 0);
}

ul li::before {
    content: '✔ ';
    color: #000;
}


ul.lista li{
    margin-bottom: 1px;
}