#home {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}

#home section.main {
  display: flex;
  flex-direction: column;
  text-align: center;

  max-width: 400px;
}

#home section.main h1 {
  font-size: 30px;
  letter-spacing: 5px;
}
