div#imagem{
    float: right;
    padding: 10px;
    background: #54514C;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    max-width: 500px;
}

img.profile{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    filter: sepia(25%);
    transition: 1s;
}
img.profile:hover{
    filter: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

img.icon{
    width: 30px;
    height: 30px;
    margin: 5px 20px auto 20px;
    filter: sepia(100%);
    transition: .4s;
}

img.icon:hover{
    filter: sepia(50%);
}
