img.profile {
  width: 200px;
  height: 200px;
}

img.icon {
  width: 30px;
  height: 30px;
  margin: 5px 20px auto;
  filter: grayscale(80%);
  transition: 0.5s;
}

ul.main-section {
  padding: 5px;
  background: #fff;
}
