@keyframes mymove {
  0% {
    top: 45px;
  }
  50% {
    top: 55px;
  }
  100% {
    top: 45px;
  }
}

div.link div h1 {
  position: relative;
  top: 45px;
  transition: 1s;
  animation: mymove 1s 0s infinite;
}

div.link div {
  display: block;
  width: 100%;
  text-align: center;
  height: 100%;
}
