@keyframes piscar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#headerTitle {
  /* background: #9A9DA0; */
  background: rgb(29, 29, 29);
  margin: 0;
  padding: 15px;
  color: #c5c5c5;
}

#piscar {
  animation: piscar 1s 0s infinite;
}

header nav {
  background: var(--dark-background);
}
header nav a {
  color: #fff;
}
header nav a:hover {
  color: #fff;
  filter: opacity(.6);
}
