header#main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: rgb(214, 202, 176);
    color: #282725;
    border-bottom: solid 2px #282725;
}

h1 {
    font-size: 20pt;
}