header#main-header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C8FF00;
    color: #040004;
    border-bottom: solid 2px #040004;
}

h1 {
    font-size: 20pt;
}