* {
    transition: .1s;
}

footer a.face:hover {
    color: #3B589C;
}
footer a.insta:hover {
    color: #E33366;
}
footer a.tt:hover {
    color: #1DA1F2;
}
footer a.in:hover {
    color: #007BB6;
}