* {
  transition: 0.1s;
}

footer a:hover {
  text-decoration: none;
}

footer a:hover span.contact {
  color: #fff;
}
footer a.contact-phone:hover span.wpp {
  color: #59c965;
}
footer a.contact-email:hover span.email {
  color: #df473c;
}

footer a.face:hover {
  color: #3b589c;
}
footer a.insta:hover {
  color: #e33366;
}
footer a.tt:hover {
  color: #1da1f2;
}
footer a.in:hover {
  color: #007bb6;
}

.copy a:hover {
  text-decoration: underline;
  color: #e7e7e76b;
}
