footer {
    position: relative;
    bottom: 0; 
}

footer h2.titulo {
    margin-bottom: 15px;
    font-size: 20px;
}

footer a {
    text-decoration: none;
    color: #cccccc;
    font-size: 16pt;
}


.copy{
    margin-top: 7px;
    color: #e7e7e736;
}