footer {
    padding: 60px;
    background: rgb(17, 17, 17);
    color: #e7e7e7;
    text-align: center;
}

footer h1.titulo {
    margin-bottom: 15px;
    font-size: 20px;
}

footer p a {
    text-decoration: none;
    color: #cccccc;
}

footer p a:hover {
    color: #e7e7e7;
    text-decoration: underline;
}

h2.copy{
    margin-top: 7px;
    color: #e7e7e736;
}