body{
  background: url('img/background.jpg') fixed;
}

section.home {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;

  background: rgba(0, 0, 0, 0.61);
  color: #fff;

}

div.about{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;

  padding: 5px;
}

div.about div.profile-photo{}
div.about div.profile-photo img{
  width: 200px;
  height: 200px;
}

div.about div.description{
  max-width: 200px;
  margin-right: 10px;

  text-align: right;
}

@media (max-width: 418px) {
  div.about div.description {
    text-align: center;
  }
}
