body {
  background: rgb(248, 248, 248);
  background: rgb(50, 50, 50);
  color: #fff;
  /* background: url('https://i.imgur.com/gYS9pwF.jpg') center fixed no-repeat;
  background-size: 100%; */
  padding: 0;
  margin: 0;
}
