* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #0d0f11; */
  background-color: white;

  color: black;
}

main#Main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px;

  width: 100%;
  height: 100vh;

  background: black;
  color: white;
}

div.pages {
  margin-top: 20px;
}
