* {
    transition: .5s;
}

div#corpo {
    padding: 50px;
    background: #e7e7e7;
    color: rgb(44, 44, 44);
    margin: 600px auto auto auto;
    font-size: 15pt;
}

div#corpo h2{
    font-size: 30pt;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}
div#corpo h3{
    font-size: 20pt;
    text-decoration: underline;
    text-decoration-color: rgba(200, 255, 0, 0.342);
    margin: 15px auto;
}