div#corpo {
    padding: 50px;
    background: #282725;
    color: rgb(175, 175, 175);
    margin: 200px auto;
    font-size: 15pt;
}

div#corpo h2{
    font-size: 30pt;
    color: rgb(214, 202, 176);
    margin-bottom: 5px;
}
div#corpo h3{
    font-size: 20pt;
    text-decoration: underline;
    text-decoration-color: rgb(214, 202, 176);
    margin: 15px auto;
}

div.box_info{
    border: 0.5px solid rgb(214, 202, 176);
    max-width: 500px;
    padding: 20px;
    border-radius: 3px;
    background: rgba(214, 202, 176, .1);
}

ul {
    margin: 0;
    padding: 10px;
}

ul.lista li{
    margin-bottom: 1px;
}