* {
    transition: .5s;
}

div#corpo {
    padding: 50px;
    background: #e7e7e7;
    color: rgb(44, 44, 44);
    margin: 200px auto;
    font-size: 15pt;
}

div#corpo h2{
    font-size: 30pt;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}
div#corpo h3{
    font-size: 20pt;
    text-decoration: underline;
    text-decoration-color: rgba(200, 255, 0, 0.342);
    margin: 15px auto;
}

div.box_info{
    border: 1px solid rgba(200, 255, 0, 0.342);
    max-width: 500px;
    padding: 20px;
    border-radius: 3px;
}

ul {
    margin: 0;
    padding: 10px;
    transition: .5s;
}

ul li::before {
    content: '» ';
    color: #000;
}

ul li:hover {
    color: #000;
}
ul li:hover::before {
    color: rgb(200, 255, 0);
}

ul li ul li::before{
    content: '○ ';
}

ul.lista li{
    margin-bottom: 1px;
}